:root {
  --code-font-size: 1rem;
  --snippet-border: 0.1rem solid rgba(255, 255, 255, 0.2);
  --snippet-border-radius: 0.4rem;
  --snippet-background: rgba(0, 0, 0, 0.4);
  --line-padding: 0.35rem 2rem 0.35rem 1.5rem;
  --highlighted-line-background: rgba(255, 255, 255, 0.05);
  --inline-code-bg-color: rgba(255, 255, 255, 0.1);
  --inline-code-padding: 0rem 0.35rem 0.15rem 0.35rem;
  --inline-code-border: 0.1rem solid rgba(255, 255, 255, 0.15);
  --inline-code-border-radius: 0.1rem;
}

pre {
  overflow-x: auto;
}

figure {
  margin: 1.5rem 0 2rem 0;
  padding: 0;
  font-size: var(--code-font-size);
  border-radius: var(--snippet-border-radius);
  border: var(--snippet-border);
  background: var(--snippet-background);
}

p code {
  padding: var(--inline-code-padding);
  margin: 0;
  background: var(--inline-code-bg-color);
  border-radius: var(--inline-code-border-radius);
  border: var(--inline-code-border);
}

span[data-highlighted-line] {
  background: var(--highlighted-line-background);
}

span[data-line] {
  padding: var(--line-padding);
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 0.75rem;
  margin-right: 1rem;
  text-align: right;
  color: rgb(92, 92, 92, 0.8);
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 1.25rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 1.75rem;
}

code[data-line-numbers-max-digits="4"] > [data-line]::before {
  width: 2.25rem;
}
