@font-face {
  font-family: "Inter Light";
  src: url("../assets/fonts/Inter_28pt-Light.ttf");
}

@font-face {
  font-family: "Inter Regular";
  src: url("../assets/fonts/Inter_28pt-Regular.ttf");
}

@font-face {
  font-family: "Inter Italic";
  src: url("../assets/fonts/Inter_28pt-Italic.ttf");
}

@font-face {
  font-family: "Inter Medium";
  src: url("../assets/fonts/Inter_28pt-Medium.ttf");
}

@font-face {
  font-family: "Inter Bold";
  src: url("../assets/fonts/Inter_28pt-Bold.ttf");
}

@font-face {
  font-family: "Inter Extra Bold";
  src: url("../assets/fonts/Inter_28pt-ExtraBold.ttf");
}

@font-face {
  font-family: "Inter Extra Bold Italic";
  src: url("../assets/fonts/Inter_28pt-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: "Inter Bold Italic";
  src: url("../assets/fonts/Inter_28pt-BoldItalic.ttf");
}

@font-face {
  font-family: "PT Regular";
  src: url("../assets/fonts/PTSerifCaption-Regular.ttf");
}

@font-face {
  font-family: "Bangers Regular";
  src: url("../assets/fonts/Bangers-Regular.ttf");
}

@font-face {
  font-family: "Merriweather Sans Regular";
  src: url("../assets/fonts/MerriweatherSans-Regular.ttf");
}

@font-face {
  font-family: "Merriweather Sans Light";
  src: url("../assets/fonts/MerriweatherSans-Light.ttf");
}

@font-face {
  font-family: "Permanent Marker Regular";
  src: url("../assets/fonts/PermanentMarker-Regular.ttf");
}
