header {
  display: flex;
  justify-content: left;
  margin: 4.5rem 0 3.5rem 0;
  padding: 0 0 0 1rem;
  align-items: center;
}

header .top {
  justify-content: left;
  display: flex;
}

header .top .title {
  font-family: 'Bangers Regular';
  font-size: 3.1rem;
  color: var(--light-blue-09);
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  display: inline-block;
}

header .logo {
  height: 6.25rem;
  border: 0.25rem solid var(--light-blue-09);
  border-radius: 50%;
  width: 6.25rem;
  max-width: 3.75rem;
  max-height: 3.75rem;
  margin-right: 1.25rem;
}

.logo.rotate {
  animation: rotate360 0.4s linear backwards;
  transform-origin: center center;
}

.logo #logo-wrapper {
  animation: flicker 5s infinite;
}

.logo .wrapper {
  min-width: 3.75rem;
  min-height: 3.75rem;
  filter: drop-shadow(0 0 0.2rem #00edfa6e) drop-shadow(0 0 0.345rem #00edfa6b)
    drop-shadow(0 0 0.4275rem #00edfa69) drop-shadow(0 0 0.55rem #00edfa70);
}

.logo .wrapper .top {
  position: absolute;
  transform-origin: center;
  top: 19%;
  left: 33%;
  width: 0;
  height: 0;
  border-left: 0.9375rem solid transparent;
  border-bottom: 1.384375rem solid #ffff90;
}

.logo .wrapper .bottom {
  position: absolute;
  transform-origin: center;
  top: 46%;
  right: 30%;
  width: 0;
  height: 0;
  border-right: 0.9375rem solid transparent;
  border-top: 1.40625rem solid #ffffb4;
}
