.post-card {
  padding: 1.6rem 2.2rem 1.6rem 1.25rem;
  margin-top: 1.2rem;
  border-radius: var(--border-radius);
  opacity: 0.9;
}

@media (hover: hover) and (pointer: fine) {
  .post-card:hover {
    opacity: 1;
    box-shadow: var(--primary-box-shadow);
  }
}

@media (max-width: 40rem) {
  .post-card {
    padding: 1.6rem 0.5rem 1.6rem 0.5rem;
  }
}

.post-card .title {
  font-family: "Inter Extra Bold";
  font-size: 2.25rem;
  color: rgb(241, 241, 241);
}

.post-card p {
  font-family: "Merriweather Sans Light";
  color: #ececec;
  text-align: justify;
  line-height: 1.8;
  letter-spacing: 0.04rem;
}

.post-card .trim {
  font-family: "Merriweather Sans Light";
  font-size: var(--body-font-size);
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
