@import "fonts.css";
@import "animations.css";
@import "loader.css";
@import "post.css";
@import "footer.css";
@import "header.css";
@import "home.css";

:root {
  --background: #181e3f;
  --max-width: 55rem;
  --neon: #82f9ff;
  --post-title-color: rgb(241, 241, 241);
  --body-text-color: #ececec;
  --light-blue-09: rgba(129, 213, 255, 0.9);
  --light-blue-05: rgba(129, 213, 255, 0.5);
  --light-yellow: #ffffb4;
  --body-font-family: "Merriweather Sans Light";
  --body-font-size: 1.1rem;
  --border-radius: 0.5rem;
  --primary-box-shadow: inset 0 0 0 0.1rem var(--light-blue-05);
  --h1-color: rgb(241, 241, 241);
  --date-color: rgba(255, 255, 255, 0.6);
}

a,
a:link,
a:visited {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: var(--light-yellow);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background: var(--background);
}

h1 {
  color: var(--h1-color);
}

img {
  width: auto;
  max-width: 100%;
  border-radius: 1rem;
}

section {
  margin: 0 auto 0 auto;
}

main {
  align-items: stretch;
  flex-grow: 1;
  max-width: 55rem;
  display: flex;
  flex-direction: column;
}

.col-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  z-index: -1;
}

svg {
  max-width: 100%;
  height: auto;
}

.capitalize-first::first-letter {
  text-transform: capitalize;
}

.date {
  font-family: "Inter Regular";
  color: var(--date-color);
  margin-top: 0.1rem;
  font-size: 0.85rem;
  text-transform: uppercase;
}

@media (max-width: 60rem) {
  header {
    width: clamp(95%, 95%, 95%);
  }

  section {
    width: clamp(95%, 95%, 95%);
  }
}
