.post {
  padding: 1.56rem 2.2rem 1.55rem 1.25rem;
  margin-top: 1.25rem;
}

.post p {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  color: #ececec;
  text-align: justify;
  line-height: 1.8;
  letter-spacing: 0.04rem;
}

.post .tag-separator {
  font-size: 1.4rem;
  font-family: 'Permanent Marker Regular';
  color: #ececec;
}

.post .title {
  font-family: 'Inter Extra Bold';
  color: rgb(241, 241, 241);
  font-size: 2.25rem;
}

.post .tag-emoji {
  font-size: 1.3rem;
}

.post .tag {
  font-family: 'Permanent Marker Regular';
  display: inline-block;
  margin: 0.5rem 0 2rem 0;
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 0.5rem;
  color: var(--tag-color);
  line-height: 0.7;
  opacity: 0.9;
}

pre {
  overflow-x: auto;
}

figure {
  margin: 1.5rem 0 2rem 0;
  padding: 0.5rem 0 0.5rem 0;
  font-size: var(--body-font-size);
  border-radius: var(--border-radius);
  box-shadow: var(--primary-box-shadow);
}

code {
  counter-reset: line;
  font-size: var(--body-font-size);
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 0.75rem;
  margin: 0.5rem 1.2rem 0.5rem 1.2rem;
  text-align: right;
  color: rgb(92, 92, 92, 0.8);
}

code[data-line-numbers-max-digits='2'] > [data-line]::before {
  width: 1.25rem;
}

code[data-line-numbers-max-digits='3'] > [data-line]::before {
  width: 1.75rem;
}

code[data-line-numbers-max-digits='4'] > [data-line]::before {
  width: 2.25rem;
}

code[data-highlighted-line] {
  background: rgba(200, 200, 255, 0.076);
}
