.post {
  padding: 1.6rem 2.2rem 1.6rem 1.25rem;
  margin-top: 1.25rem;
}

.post p {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  color: var(--body-text-color);
  text-align: justify;
  line-height: 1.8;
  letter-spacing: 0.04rem;
}

.post .tag-separator {
  font-size: 1.4rem;
  font-family: "Permanent Marker Regular";
  color: var(--body-text-color);
}

.post .title {
  font-family: "Inter Extra Bold";
  color: var(--post-title-color);
  font-size: 2.25rem;
}

.post .tag-emoji {
  font-size: 1.3rem;
}

.post .tag {
  font-family: "Permanent Marker Regular";
  display: inline-block;
  margin: 0.5rem 0 2rem 0;
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 0.5rem;
  color: var(--tag-color);
  line-height: 0.7;
  opacity: 0.9;
}
