name: deploy to Github pages

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 24

      - run: npm install
      - run: npm run build

      - uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist

      - uses: actions/deploy-pages@v4

      - name: Create Deployment
        uses: peter-evans/create-deployment@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          environment: github-pages
          ref: main
          auto_merge: false
          transient_environment: false
          required_contexts: []
